<div class="container">
	<div class="row topstuff">
		<div>
			<h2 class="userName pull-right">{{userName}}</h2>

		<!-- login/register -->
			<button type="button" ng-show="!displayName" data-toggle="modal" data-target="#userInfoModal" class="btn btn-default pull-left button">Log In/Register</button>
		<!-- logout button -->
			<button type="button" ng-show="displayName" ng-click="logout()" class="btn btn-default button pull-left">Log Out</button>

			<!-- search bar -->
			<div class="input-group col-xs-4 center-block searchInput">
				  <input ng-model="searchInput" type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
			</div>
		</div>
	</div>

		<!-- Login/register Modal -->
		<div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
		        <!-- <h4 class="modal-title" id="myModalLabel">Log In / Register</h4> -->
		      </div>
		      <div class="modal-body container-fluid">
		        <!-- <! login -->
					<div class="input-group col-xs-5 pull-left">
					 	<p>Login</p>
					  <input type="email" ng-model="logEmail" class="form-control" placeholder="Email..." aria-describedby="basic-addon1">
					  <input type="password" ng-model="logPassword" class="form-control" placeholder="Password..." aria-describedby="basic-addon1">
					  <button type="submit" ng-click="login(logEmail, logPassword)" class="btn btn-primary" data-dismiss="modal">Sign In</button>
					</div>

					<!-- Register -->
					<div class="input-group col-xs-5 pull-right">
					 	<p>Register</p>
					  <input type="email" ng-model="regEmail" class="form-control" placeholder="Email..." aria-describedby="basic-addon1">
					  <input type="text" ng-model="regUserName" maxlength="15" class="form-control" placeholder="Choose Username..." aria-describedby="basic-addon1">
					  <input type="password" ng-model="regPassword" class="form-control" placeholder="Create Password" aria-describedby="basic-addon1">
					  <button type="submit" ng-click="register(regEmail, regUsername, regPassword)" class="btn btn-success" data-dismiss="modal">Register</button>
					</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
		      </div>
		    </div>
		  </div>
		</div>

	<!-- browse ppl places things -->
	<!-- <div class="btn-group" role="group" aria-label="...">
		<p>Browse</p><br>
		  <button ng-click="determineType('People')" type="button" class="btn btn-default">People</button>
		  <button ng-click="determineType('Place')" type="button" class="btn btn-default">Places</button>
		  <button ng-click="determineType('Thing')" type="button" class="btn btn-default">Things</button>
	</div> -->
	  <div class="media posts col-md-6 shadow" ng-repeat="post in contentArray | filter: {$:searchInput}">
		    <div class="media-left media-middle">
		    	<p>Posted by {{post.userName}}</p>
		      <a ng-href="{{post.imgUrl}}"><img class="media-object postImg img-rounded" ng-src="{{post.imgUrl}}" alt="{{post.name}}"></a>
		    </div>
		      <div class="media-body media-middle">
		        <h3 class="media-heading">{{post.superlative}} {{post.category}}</h3>
		        <h4>{{post.name}}</h4>
		        <button ng-show="displayName" ng-click="vote(post)" class="btn btn-default btn-sm glyphicon glyphicon-thumbs-up" role="button"></button>
		        <h5>{{post.counter}}</h5>
		      </div>
	    </div>
</div>
