<h2>{{userName}}</h2>

<!-- login/register -->
	<button type="button" data-toggle="modal" data-target="#userInfoModal" class="btn btn-default">Log In/Register</li>
<!-- logout button -->
	<button type="button" ng-click="logout()" class="btn btn-default">Log Out</button>


<!-- Login/register Modal -->
<div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title" id="myModalLabel">Log In / Register</h4>
      </div>
      <div class="modal-body">
        <!-- <! login -->
			<div class="input-group">
			 	<p>Login</p>
			  <input type="text" ng-model="logEmail" class="form-control" placeholder="Email..." aria-describedby="basic-addon1">
			  <input type="text" ng-model="logPassword" class="form-control" placeholder="Password..." aria-describedby="basic-addon1">
			  <button type="submit" ng-click="login(logEmail, logPassword)" class="btn btn-primary" data-dismiss="modal">Sign In</button>
			</div>

			<!-- Register -->
			<div class="input-group">
			 	<!-- <p>Register</p> -->
			  <input type="text" ng-model="regEmail" class="form-control" placeholder="Email..." aria-describedby="basic-addon1">
			  <input type="text" ng-model="regUserName" class="form-control" placeholder="Choose Username..." aria-describedby="basic-addon1">
			  <input type="text" ng-model="regPassword" class="form-control" placeholder="Create Password" aria-describedby="basic-addon1">
			  <button type="submit" ng-click="register(regEmail, regUsername, regPassword)" class="btn btn-success" data-dismiss="modal">Register</button>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

	<!-- Create content Modal -->
<!-- <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title" id="myModalLabel">Create a Superlative!</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
			<select ng-model="thingType">
				<option>People</option>
				<option>Place</option>
				<option>Thing</option>
			</select><br>
			<select ng-model="superlative">
				<option>Greatest</option>
				<option>Worst</option>
			</select>
			<input type="text" class="form-control" ng-model="category" placeholder="Guitarist, Lizard, City...">
			<input type="text" ng-model="name" class="form-control" placeholder="Name...">
			<! <img src="{{imgUrl}}"> -->
			<!-- <input ng-model="imgUrl" type="text" class="form-control" placeholder="Give an image Url...">
		</div> -->

<!-- create button -->
		<!-- <div>
			<button ng-click="createPost()" class="btn btn-primary">Create</button>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> -->

<!-- search bar -->
	<div class="input-group col-xs-3 searchInput">
		  <input ng-model="searchInput" type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
	</div>

	<!-- browse ppl places things -->
	<!-- <div class="btn-group" role="group" aria-label="...">
		<p>Browse</p><br>
		  <button ng-click="determineType('People')" type="button" class="btn btn-default">People</button>
		  <button ng-click="determineType('Place')" type="button" class="btn btn-default">Places</button>
		  <button ng-click="determineType('Thing')" type="button" class="btn btn-default">Things</button>
	</div> -->

<!-- posts -->
	<div class="row">
	  <div class="col-xs-offset-1 col-xs-10" ng-repeat="post in contentArray | filter: {$:searchInput}">
	    <div class="thumbnail">
	    	<p>Posted by {{post.userName}}</p>
	      <img ng-src="{{post.imgUrl}}" alt="{{post.name}}">
	      <div class="caption">
	        <h3>{{post.superlative}} {{post.category}}</h3>
	        <p>{{post.name}}</p>
	        <button ng-click="vote(post)" class="btn btn-default btn-sm glyphicon glyphicon-thumbs-up" role="button"></button>
	        <h5>{{post.counter}}</h5>
	      </div>
	    </div>
	  </div>
	</div>
